* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
}

/*Mobile*/
header {
    background: rgb(255, 57, 149);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    position: relative;
}

header img {
    max-width: 200px;
}
header h1 {
    font-family: 'Courier New', Courier, monospace;
    position: sticky;
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    padding: 10px 80px;
    color: rgb(255, 255, 255);
}

nav {
    
    font-size: 40px;
    text-align: center;
    list-style: none;
    background-color: rgb(30, 18, 28);
}
nav a {
    display: block;
    padding: 10px;
    color:white;
}
nav a:hover {
    color: rgb(255, 229, 234);
}

main {
    display: block;
    text-align: center;
    margin: 50px;
}
section {
    border: 1px solid gray;
    margin-top: 20px;
}
section .cards {
    display: grid;
    gap: 10px;
    grid-template-columns: 80px;
    grid-template-rows: 80px 80px;
} 
section h3 {
    background: rgb(255, 57, 149);
    margin: 0;
}
section a {
    color: black;
    text-decoration: none;
}
section a:hover {
    color: pink;
}
section ul {
    list-style: none;
    text-align: left;
}

footer {
    text-align: center;
    background: rgb(175, 0, 82);
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: larger;
}

/* Larger View */
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    
}